.wrapper.light{
    background-color: map-get($background-colors,"gray");
    .header{
        background-image: url("../../images/bg-mobile-light.jpg");
    }
    .main__form .form__container{
        background-color: map-get($background-colors,"white");
        &-todo{
            color:map-get($colors,"main");
        }
    }
    .main__controls{
        background-color: map-get($background-colors,"white");
        
    }
    .main__controls .main__control-btn{
        color:map-get($colors,"border");
    }
    .main__list-todo{
        background-color: map-get($background-colors,"white");
        color:map-get($colors,"border");
    }
}
@media(min-width:720px){
    .wrapper.light{
        .header{
            background-image: url("../../images/bg-desktop-light.jpg");
        }
    }
}